.feature{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
    padding: 25px;
}
.title{
    font-size: 20px;
    font-weight: bold;
}
.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding-left: 220px;
}
.description{
    font-size:16px ;
    margin-top: -20px;
    text-align: center;
}
/* .item{
    display: flex;
    flex-direction: column;
} */